/* 1. All CSS is in a styles.css, which is linked in the head of the HTML file.
2. “Open Sans” font is imported and applied successfully to all text on the page.
3. The background color of the body should be set to #f9fafc.
4. Navigation links are stacked vertically, as shown.
5. Navigation links are gray (#69696a).
6. Navigation links have no underline.
7. Navigation links are still gray with no underline after clicking them (visited).
8. “Hire Us” and “Scroll Down” are black (#FFF) with white (#000) text.
9. “Hire Us” and “Scroll Down” have fully rounded ends.
10. “Hire Us” and “Scroll Down” stretch across entire display (with some space between
edges as shown).
11. “Hire Us” and “Scroll Down” text is centered.
12. Lorem, ipsum paragraph has the gray (#69696a) vertical bar on left. */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f9fafc;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 16px;
}

h1 {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

li {
  margin: 8px 0px;
}

a {
  color: #69696a;
  text-decoration: none;
}

a:visited {
  color: #69696a;
}

.primary.button {
  color: #fff;
  background-color: #000;
  border-radius: 48px;
  width: 100;
  display: block;
  text-align: center;
  padding: 8px 0px;
}

h2 {
  font-size: 32px;
  padding-top: 40px;
}

p {
  color: #69696a;
  border-left: 2px solid #69696a;
  margin: 24px 0px;
  padding-left: 16px;
}

.menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}